<mat-card>
  <!-- Title of an Card -->
  <mat-card-title>
    Edit Product
  </mat-card-title>

  <mat-card-content>

    <form (ngSubmit)='onSubmit()' [formGroup]="productForm">
      <table>
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="Stock Code" formControlName="stockCode">
              <mat-error *ngIf="this.productForm.controls['stockCode'].errors?.minlength">Stock Code should be atleast 4
                character</mat-error>
              <mat-error *ngIf="this.productForm.controls['name'].errors?.required">Please enter a unique code
              </mat-error>
            </mat-form-field>
          </td>
        <tr>


          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="Name" formControlName="name">
              <mat-error *ngIf="this.productForm.controls['name'].errors?.minlength">Name should be atleast 4 character
              </mat-error>
              <mat-error *ngIf="this.productForm.controls['name'].errors?.required">Please enter a name</mat-error>
            </mat-form-field>
          </td>
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input matInput type="number" min="0" step="0" placeholder="Amount" formControlName="amount">
              <mat-error *ngIf="this.productForm.controls['amount'].errors?.pattern">Please enter positive number
              </mat-error>
              <mat-error *ngIf="this.productForm.controls['amount'].errors?.max">Max amount should be 1000
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Created At</mat-label>
              <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="createdAt">
              <mat-datepicker-toggle *ngIf="isAddMode" matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </td>
        </tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Updated At</mat-label>
            <input matInput [min]="minDate1" [max]="maxDate" [matDatepicker]="picker1" formControlName="lastUpdatedAt">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </td>

        <tr>
        </tr>
        <tr>
          <td colspan="2">
          </td>
        </tr>
        <tr>
          <td colspan="2" class="content-center">

            <button type="submit" mat-raised-button color="accent" [disabled]="!(productForm.valid && productForm.dirty)" >Update</button>
        <tr></tr>
        <button type="cancel" mat-raised-button color="accent" routerLink="/item">Cancel</button>

        </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
</mat-card>
