table {
  width: 100%;
  margin-top: 30px;
  margin-left: 20px;


}


.mat-raised-button {
  color: blueviolet;
  margin-top: 20px;
}


.matInput{

  border-color: blueviolet;
  margin-left: 13px;
  margin-top: 10px;
}
