<div class="container">
  <h1>Product List</h1>
  <button mat-stroked-button color="accent" routerLink="/item-list">New Product</button>
  <td>

  </td>
  <div class="form-group">

    <input type="text" matInput placeholder="Search..." [(ngModel)]="filterTerm">
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Out of Stock</th>
        <th>StockCode</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Updated At</th>

      </tr>
    </thead>
    <tbody>
      <ng-container>
        <tr *ngFor="let pro of products$ |async | filter : filterTerm">
          <td> <input type="checkbox" [checked]="pro.amount<1" [disabled]="true">Out of Stock
          </td>
          <td>{{pro.stockCode | uppercase}}</td>
          <td> {{pro.name}}</td>
          <td>{{pro.amount}}</td>
          <td>{{pro.lastUpdatedAt | date}}</td>
          <td>
            <button routerLink="edit/{{pro.id}}">
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="deletePro(pro.id)">
              <mat-icon>delete</mat-icon>
            </button> &nbsp;
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
