<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">

        <mat-card-content class="dashboard-card-content">
          <p>Welcome to Inventory Management Application</p>

          <p>Nazlican Kurt</p>
        </mat-card-content>
        <a href="https://github.com/nazlicankurt/inventory-app-Angular-NGRX" class="big-button">GitHub</a>


      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
